# Analysis of vacancy and foreclosures, transactions, sheriff's auctions, and armslength sales

In [66]:
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import pandas as pd
import numpy as np
import os

%matplotlib inline

path = '/'.join(os.getcwd().split('/')[:-1])
print(path)

/Volumes/Dropbox/largetransfer/luc/carter

In [67]:
df = pd.read_csv(path+'/data/model_data/tci_2_0.csv', index_col = 0)
tci = pd.read_csv(path+'/data/model_data/tci_2_2.csv', parse_dates=['Date'], dtype={'Parcel ID':str})
tci = pd.merge(tci, df[['NAME10','SPA_NAME']], how='left', right_index=True, left_on='parcel')
ppns = set(tci['parcel'])
dates = dict(zip(tci.parcel, tci.Date))
print(tci.shape)

(113132, 39)

## Foreclosures

In [68]:
fc = pd.read_csv(path+'/data/clean_data/foreclosure_filings2.csv', parse_dates=[2])
fc = fc.sort_values('filedate').groupby('caseno').last()
fc = fc.rename(columns={'filedate':'date'}).reset_index()

fc.columns

Index([u'caseno', u'parcel', u'status', u'date', u'defendant',
       u'parcel_address', u'dateid', u'case_title', u'plaintiff', u'FORE',
       u'LATITUDE', u'LONGITUDE', u'zip_fore'],
      dtype='object')

In [69]:
fc_parcel = set(fc.parcel)
tci['fc'] = tci.apply(lambda x: x.parcel in fc_parcel, axis=1)
pd.crosstab(tci.fc, tci.vacant)

vacant      0     1
fc
False   79154  3836
True    23940  6202

In [70]:
sum(tci.vacant), sum(tci.fc)

(10038, 30142)

#### Has it been foreclosed before?

So of the 30,142 parcels that have been foreclosed between 1/3/2006 and 11/6/2015, 6,202 are currently vacant, of the 10,038 total residential vacancies as measured by TCI. This means that 3,836 parcels were determined to be vacancy but never have been foreclosed.

In [71]:
fc_parcel = set(fc[fc.status=='Inactive'].parcel)
tci['fc'] = tci.apply(lambda x: x.parcel in fc_parcel, axis=1)
pd.crosstab(tci.fc, tci.vacant)

vacant      0     1
fc
False   79967  4135
True    23127  5903

In [72]:
fc_parcel = set(fc[fc.status=='Active'].parcel)
tci['fc'] = tci.apply(lambda x: x.parcel in fc_parcel, axis=1)
pd.crosstab(tci.fc, tci.vacant)

vacant       0     1
fc
False   101689  9455
True      1405   583

In [73]:
tem = pd.merge(fc[['parcel','status']].groupby('parcel').count(), tci[['parcel','vacant']], how='right', left_index=True, right_on='parcel').fillna(0)
tem = tem[['status','vacant']].groupby('status').agg([sum,len])
tem['percent'] = tem.vacant['sum']/tem.vacant['len']
tem.T

status                  0             1            2            3           4  \
vacant  sum   3836.000000   4193.000000  1579.000000   330.000000   81.000000
        len  82990.000000  22045.000000  6255.000000  1422.000000  326.000000
percent          0.046222      0.190202     0.252438     0.232068    0.248466

status               5          6      7
vacant  sum  14.000000   4.000000  1.000
        len  71.000000  15.000000  8.000
percent       0.197183   0.266667  0.125

## Sheriff's Auctions

In [74]:
sa = pd.read_csv(path+'/data/clean_data/sheriff_auction.csv', parse_dates=[2], encoding="ISO-8859-1")

In [75]:
reo = pd.read_csv(path+'/data/extra_data/reo.csv', encoding="utf-8")
reo = reo.groupby('GRANTEE1').last()

In [76]:
purchaser = sa.groupby('scaseno').last().groupby('purchaser').count().sort_values('parcel',ascending=False)[['parcel']]
purchaser = purchaser.rename(columns={'parcel':'purchaser_count'})
sa = pd.merge(sa, purchaser, how='left', left_on='purchaser',right_index=True)
# sa = sa.sort_values('salesdt').groupby('parcel').last()
sa = sa.rename(columns={'salesdt':'date'})
# sa = sa[['date','plaintiff_count']]
# sa['type'] = 'sa'
# sa = sa.reset_index()
sa['purchaser_count'] = sa['purchaser_count'].fillna(0)
sa.columns

Index([         u'parcel',         u'address',            u'date',
                u'saleno',        u'sold_amt',       u'appraisal',
                u'minbid',         u'scaseno',       u'withdrawn',
             u'plaintiff',         u'sdefend',       u'purchaser',
              u'paddress',          u'rparty',        u'raddress',
              u'attorney',        u'descript',        u'location',
            u'defend_att',            u'with',          u'status',
                 u'ssold',             u'SHF',        u'LATITUDE',
             u'LONGITUDE', u'purchaser_count'],
      dtype='object')

In [ ]:
# al = pd.read_csv(path+'/data/clean_data/armslength.csv',dtype=str)
# al = al.drop_duplicates()

# months = dict(zip(['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'],range(1,13)))

# def parse_date(x):
#     day = int(x[0:2])
#     month = months[x[2:5]]
#     year = int(x[5:])
#     return dt.datetime(year,month,day)

# al['date'] = al.mdate.apply(parse_date)
# # al = al[al.date < dt.datetime(2015,6,1)]

# al = al.rename(columns={'PROPERTY_NUMBER':'parcel'})
# al = al[['date','parcel']]
# al['type'] = 'al'
# al['plaintiff_count'] = 0

In [78]:
t2 = pd.read_csv(path+'/data/clean_data/transfers.csv', parse_dates=['mdate'], dtype=str)

In [80]:
t = pd.read_csv(path+'/data/clean_data/transfers.csv', parse_dates=['mdate'], dtype=str)

t = t.rename(columns={'PROPERTY_NUMBER':'parcel','mdate':'date'})
t['type'] = 't'
t['REO'] = 0

In [81]:
t = pd.merge(t, reo, how='left',left_on='GRANTEE1', right_index=True)

In [82]:
t.loc[(t.DEED_TYPE.isin(['Sheriffs Deed',
 'Sheriffs Deed Ex'])),'REO'] = 1

In [83]:
temp = tci[tci.parcel.isin(t[(t.REO==1)&(t.date > dt.datetime(2013,1,1))].parcel)]
sum(temp.vacant), len(temp)

(930, 3581)

In [85]:
fc2 = fc[['date','parcel']]
fc2['type'] = 'fc'
fc2['REO'] = 0

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [86]:
sa2 = sa[['date','parcel','sold_amt']]
sa2['REO'] = 0
sa2['type'] = 'sa'

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [ ]:
df = fc2.append(sa2.loc[sa2.sold_amt.notnull(),['date','REO','parcel','type']]).append(t)
df = df.sort_values('date')
df = df.loc[df.apply(lambda x: x.date < dates[x.parcel], axis=1)]

In [ ]:
last = df.groupby('parcel').last()
sub = last[(last['type'] == 'sa')]#&(last['plaintiff_count']>-1)]

In [ ]:
t = tci[tci.parcel.isin(sa[sa.REO].parcel)].vacant
sum(t),len(t)

In [ ]:
test = set(last[(last['type'] == 'sa') & (last['REO']==True)].index)
sum(tci[tci.parcel.isin(test)].vacant), len(tci[tci.parcel.isin(test)].vacant)

In [ ]:
test = set(sub.index)
sum(tci[tci.parcel.isin(test)].vacant), len(tci[tci.parcel.isin(test)].vacant)

In [100]:
import re

def find_REO(s):
    if isinstance(s,str) or isinstance(s,unicode):
        s = s.lower()
        if re.search("llc", s):
            return True
        if re.search("bank", s):
            return True
        if re.search("mortg", s):
            return True
        if re.search("mort.", s):
            return True
        if re.search("comp", s):
            return True
        if re.search("corp", s):
            return True
        if re.search("fannie", s):
            return True
        if re.search("housing", s):
            return True
        if re.search("sec.", s):
            return True
        if re.search("loan", s):
            return True
        return False
    else:
        return False

In [ ]:
sa.groupby('purchaser').count().sort_values('date',ascending=False)

In [106]:
sa['REO'] = sa.purchaser.apply(find_REO)

In [103]:
find_REO(sa.purchaser.iloc[6])

True

In [107]:
s = sa.groupby('scaseno').last()

In [108]:
s

,parcel,address,date,saleno,sold_amt,appraisal,minbid,withdrawn,plaintiff,sdefend,...,location,defend_att,with,status,ssold,SHF,LATITUDE,LONGITUDE,purchaser_count,REO
scaseno,,,,,,,,,,,,,,,,,,,,,
05CV19450,002-23-014,6909 FRANKLIN AVENUE,2009-04-20,804,"$43,000","$45,000","$30,000",NaN,DETROIT SHOREWAY COMMUNITY DEVELOPMENT ORGANIZ...,"JUAN SANDOVAL, ET AL.",...,NaN,NaN,NaN,NaN,Yes,1,41.480887,-81.733385,1,False
06CV027418,133-02-049,3568 EAST 74TH,2009-04-20,803,$334,$500,$334,NaN,SLAVIC VILLAGE DEVELOPMENT,"ANTONY MCGHEE, ET AL.",...,NaN,NaN,NaN,NaN,Yes,1,41.461490,-81.636612,1,False
07CVH13068,008-15-044,3336 SCRANTON ROAD,2010-06-14,800,"$30,000","$45,000","$30,000",NaN,"TREMONT WEST DEV. CORP.,","JULIO PAGAN, ET AL.",...,NaN,NaN,NaN,NaN,Yes,1,41.463530,-81.698954,1,True
08CVH06194,118-29-064,2331 EAST 59TH STREET,2009-06-15,800,"$23,334","$35,000","$23,334",NaN,"GREATER CLEVE. HABITAT FOR HUM.,","RENATTA CLOUD, ET AL.",...,NaN,NaN,NaN,NaN,Yes,1,41.495223,-81.648880,1,False
"163,708 PLURIES",110-14-095,12525 EDMONTON AVE. N.E. A MULTI FAMILY FRAME ...,2001-03-19,17,NaN,"$50,000","$33,333",NaN,NCNB NATIONAL BANK,"LAMAR THOMPSON, ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,NaN,1,41.535467,-81.596587,0,False
"178,329 2ND PLURIES",116-26-016,17620 ST. CLAIR AVE,2002-10-21,9,"$16,000","$24,000","$16,000",NaN,"FRANCIS E. GAUL, CUYAHOGA COUNTY TREASURER","PATRICIA J. PIKUS, ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,Yes,1,41.567724,-81.555868,1,False
"178,329 3RD PLURIES",116-26-016,17620 ST. CLAIR AVENUE,2004-03-01,20,"$16,000","$24,000","$16,000",NaN,"FRANCIS E. GAUL, CUYAHOGA COUNTY TREASURER","PATRICIA J. PIKUS, ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,Yes,1,41.567724,-81.555868,1,False
2007CVH18584,017-29-127,3348 WEST 94TH STREET,2008-11-17,800,"$33,334","$50,000","$33,334",NaN,THIRD FEDERAL SAVINGS AND LOAN,"KATHERINE RODRIGUEZ, ET AL.",...,NaN,NaN,NaN,NaN,Yes,1,41.462522,-81.747836,147,True
2008CVH30738,119-29-122,2189 EAST 84TH STREET,2010-01-25,800,"$26,667","$40,000","$26,667",NaN,"GREATER CLEVE. HABITAT FOR HUM.,","GINGER CALHOUN, ET AL,",...,NaN,NaN,NaN,NaN,Yes,1,41.498753,-81.628344,1,False
"209,622 2ND PLURIES",109-14-121,10627 MORRISON AVE,2004-08-30,31,"$20,000","$30,000","$20,000",NaN,SECRETARY OF VETERANS AFFAIRS,"DANIEL SMITH, ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,Yes,1,41.529809,-81.613281,1,True
"209,622 PLURIES",109-14-121,10627 MORRISON AVENUE,2002-05-20,33,"$22,667","$34,000","$22,667",NaN,SECRETARY OF VETERANS AFFAIRS,"DANIEL SMITH, ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,Yes,1,41.529809,-81.613281,1,True
"227,494 PLURIES",014-20-121,"3110 ROANOKE ROAD, A SINGLE FRAME DWELLING WIT...",2000-06-26,30,NaN,"$55,000","$36,667",BANKRUPTCY,FBS MORTGAGE CORPORATION,"DENNIS E. BUCHKO, ET AL",...,CLEVELAND West of River,NaN,BANKR,NaN,NaN,1,41.436531,-81.704277,0,False
"235,476 2ND PLURIES",129-06-080,12604 BRITTON DR. A SINGLE BRICK DWELLING WITH...,2001-01-02,13,"$80,000","$95,000","$63,333",NaN,"MIDFIRST BANK, STATE SAVINGS BANK",LINDA DILLIONS ET AL,...,CLEVELAND East of River,NaN,NaN,NaN,Yes,1,41.491366,-81.594983,1,True
"238,634 PLURIES",139-11-110,3541 EAST 147 STREET,2002-06-03,9,"$46,200","$53,200","$35,467",NaN,BERNICE J. REED,"KAREN L. JOHNSON, ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,Yes,1,41.463163,-81.578141,1,False
"240,925 ALIAS",138-24-038,14120 SAYBROOK AVE,2004-09-20,14,NaN,"$65,000","$43,334",ORDER of the COURT,MIDFIRST BANK STATE SAVINGS BANK,"PATRICIA A. PETERS, ET AL",...,CLEVELAND East of River,NaN,ORDER,NaN,NaN,1,41.435449,-81.582796,0,False
"243,961 4TH PLURIES",137-21-064,12113 LENACRAVE AVE. A SINGLE FRAME DWELLING W...,2001-05-21,13,NaN,"$55,000","$36,667",NaN,"KEYCORP MORTGAGE INC., ETC.","MARVIN WILLIAMS, ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,NaN,1,41.453297,-81.597821,0,False
"247,504",019-19-068,12801 KADEL AVENUE,2006-05-22,162,"$33,334",NaN,NaN,NaN,UNION FEDERAL SAVINGS BANK,"MARGARET WASHINGTON, ET AL.,",...,NaN,NaN,NaN,NaN,Yes,1,41.440146,-81.778133,5,True
"249,337 PLURIES",115-02-063,"881 EAST 141 STREET, A MULTI FAMILY FRAME DWEL...",2000-06-26,9,NaN,"$48,000","$32,000",BANKRUPTCY,"DOLLAR BANK, FKA ETC.","GEORGE E. HALEY SR., AKA ETC., ET AL",...,CLEVELAND East of River,NaN,BANKR,NaN,NaN,1,41.555456,-81.583676,0,False
"253,810 4TH PLURIES",129-30-082,13422 LORENZO AVE. A SINGLE FRAME DWELLING W/T...,2000-08-28,21,"$36,205","$42,000","$28,000",NaN,"FRANCIS E. GAUL, TREASURER","PINKIE L. JONES, ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,Yes,1,41.472441,-81.588855,1,False
"254,070",017-28-199,3402 W 90TH STREET,2006-04-24,93,NaN,NaN,NaN,BANKRUPTCYÂ,MELLON MORTGAGE COMPANY,"KENNETH D. SANNEY, ET AL",...,CLEVELAND West of River,NaN,BANKR,NaN,NaN,1,41.461042,-81.746053,0,False
"255,828 2ND PLURIES",117-08-049,1717-1719 BURGESS RD,2003-04-14,33,NaN,"$60,000","$39,600",BANKRUPTCY,OHIO SAVINGS BANK FKA ETC.,"JAMES POGRAS, ET AL",...,CLEVELAND East of River,NaN,BANKR,NaN,NaN,1,41.556296,-81.555655,0,False
"255,828 3RD PLURIES",117-08-049,1717-1719 BURGESS RD,2004-08-02,42,NaN,"$66,000","$44,000",BANKRUPTCY,OHIO SAVINGS BANK FKA OHIO SAVINGS ASSOCIATION,"JAMES POGRAS, ET AL",...,CLEVELAND East of River,NaN,BANKR,NaN,NaN,1,41.556296,-81.555655,0,False
"255,828 4TH PLURIES",117-08-049,1717-1719 BURGESS ROAD,2005-06-27,51,NaN,"$66,000","$44,000",NO BID,OHIO SAVINGS BANK FKA OHIO SAVINGS ASSOCIATION,"JAMES POGRAS, ET AL",...,CLEVELAND East of River,NaN,NOBID,NaN,NaN,1,41.556296,-81.555655,0,False
"255,828 5TH PLURIES",117-08-049,1717-1719 BURGESS ROAD,2005-10-17,38,NaN,"$66,000","$44,000",NO BID,OHIO SAVINGS BANK FKA OHIO SAVINGS ASSOCIATION,"JAMES POGRAS, ET AL",...,CLEVELAND East of River,NaN,NOBID,NaN,NaN,1,41.556296,-81.555655,0,False
"255,828 6TH PLURIES",117-08-049,1717-1719 BURGESS ROAD,2006-03-27,55,"$20,000",NaN,NaN,NaN,OHIO SAVINGS BANK FKA OHIO SAVINGS ASSOCIATION,"JAMES POGRAS, ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,Yes,1,41.556296,-81.555655,1,False
"256,449 ALIAS",134-14-117,4364 WARNER RD. A SINGLE FRAME DWELLING WITH T...,2001-03-19,22,"$34,200","$45,000","$30,000",NaN,"SECRETARY OF VETERANS AFFAIRS, ETC.,","JOHN J. HONAKER, JR., ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,Yes,1,41.440761,-81.627116,1,False
"262,104 3RD PLURIES",140-01-101,4007 E 154TH ST,2002-03-18,20,NaN,"$60,000","$40,000",NaN,"THE EQUITABLE LIFE INS., SOCIETY OF THE U.S.","ANDREA N. MOORE, ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,NaN,1,41.450291,-81.572696,0,False
"266,292 2ND PLURIES",018-11-062,10900 PARKHURST DR. A MULTI FAMILY FRAME DWELLING,2001-05-21,38,NaN,"$70,000","$46,667",BANKRUPTCY,"THIRD FEDERAL SAVINGS AND LOAN ASSOC, ETC","CHARLES H. BROWN, ET AL",...,CLEVELAND West of River,NaN,BANKR,NaN,NaN,1,41.461038,-81.761916,0,False
"267,418 2ND PLURIES",117-16-096,1879 GRANTHAM ROAD A MULTI FAMILY FRAME DWEL...,2000-11-06,22,"$45,000","$60,000","$40,000",NaN,PHILLIP JACOB JR.,"JASPER MULDROW, ETAL",...,CLEVELAND East of River,NaN,NaN,NaN,Yes,1,41.548760,-81.557889,1,True
"267,546 2ND PLURIES",127-24-156,3406 E. 103 ST.,2002-12-02,21,"$40,000","$60,000","$39,600",NaN,OHIO SAVINGS BANK,"JOSEPH W. TAYLOR, JR., ET AL",...,CLEVELAND East of River,NaN,NaN,NaN,Yes,1,41.465880,-81.613947,17,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CV15846273,114-21-077,19610 KEWANEE AVENUE,2015-11-16,6,NaN,"$25,000","$16,667",NaN,"BANK OF AMERICA, N.A. SUCCESSOR BY MERGER TO B...",JACKSON/AARON/,...,CLEVELAND EAST OF THE R,NaN,NaN,WITHDRAWN - ORDER OF THE COURT,NaN,1,41.583653,-81.542225,0,False
CV15846698,005-30-042,2085 WEST 91ST STREET,2015-12-07,32,NaN,"$40,000","$26,667",NaN,THIRD FEDERAL SAVINGS AND LOAN ASSOCIATION OF ...,DONES/JOSE/,...,CLEVELAND WEST OF THE R,NaN,NaN,ACTIVE,NaN,1,41.474785,-81.745964,0,False
CV15846757,009-28-008,4489 SOUTH HILLS DRIVE,2015-10-26,27,"$30,000","$40,000","$26,667",NaN,"BANK OF NEW YORK MELLON TRUST COMPANY, NATIONA...",PURKEY/CONNIE/E.,...,CLEVELAND WEST OF THE R,NaN,NaN,SOLD,Yes,1,41.433715,-81.690902,6,True
CV15846886,137-24-074,13404 CHAPLESIDE AVENUE,2015-12-07,23,NaN,"$18,000","$12,000",NaN,BANK OF AMERICA NA,EDDY/FELICIA/M,...,CLEVELAND EAST OF THE R,NaN,NaN,ACTIVE,NaN,1,41.453224,-81.588753,0,False
CV15846970,133-20-114,3832 EAST 72ND STREET,2015-12-07,20,NaN,"$15,000","$10,000",NaN,WELLS FARGO BANK NA,SHAHEED/SULAIMAN/,...,CLEVELAND EAST OF THE R,NaN,NaN,ACTIVE,NaN,1,41.454155,-81.638045,0,False
CV15847127,005-30-088,2088 WEST 87TH STREET,2015-11-23,15,NaN,"$15,000","$10,000",NaN,"DEUTSCHE BANK NATIONAL TRUST COMPANY, AS TRUST...",RAMEY/RAYMOND/L.,...,CLEVELAND WEST OF THE R,NaN,NaN,ACTIVE,NaN,1,41.474568,-81.744503,0,False
CV15847556,129-29-132,12702 IMPERIAL AVENUE,2015-11-30,5,NaN,"$7,000","$4,667",NaN,U.S. BANK NATIONAL ASSOCIATION,BARRETT/RICHARD/D,...,CLEVELAND EAST OF THE R,NaN,NaN,ACTIVE,NaN,1,41.472601,-81.593688,0,False
CV15847654,018-06-067,11513 -11515 FIDELITY AVE,2015-12-07,40,NaN,"$30,000","$20,000",NaN,U.S. BANK NATIONAL ASSOCIATION,CUCCI/ANGELO/,...,CLEVELAND WEST OF THE R,NaN,NaN,ACTIVE,NaN,1,41.461196,-81.767696,0,False
CV15848045,027-04-092,4056 WEST 158TH STREET,2015-12-07,46,NaN,"$55,000","$36,667",NaN,NATIONSTAR MORTGAGE LLC,KOENIG/ALEXANDER/,...,CLEVELAND WEST OF THE R,NaN,NaN,ACTIVE,NaN,1,41.444273,-81.808508,0,False
CV15848328,022-14-046,13101 TYLER AVENUE,2015-12-07,43,NaN,"$45,000","$30,000",NaN,"CALIBER HOME LOANS, INC.",COLE/KYLE/W.,...,CLEVELAND WEST OF THE R,NaN,NaN,ACTIVE,NaN,1,41.446209,-81.780803,0,False
CV93254070,017-28-199,3402 WEST 90TH STREET,2010-03-15,55,NaN,"$40,000","$26,667",Withdrawn - Order of,FAIRBANKS CAPITAL CORPORATION,"KENNETH D. SANNEY, ET AL.",...,NaN,NaN,WITHD,NaN,NaN,1,41.461042,-81.746053,0,False
CV97341177,016-12-024,3272 WEST 48TH STREET,2008-09-08,93,NaN,"$25,000","$16,667",Withdrawn - Order of,OCWEN FEDERAL BANK FSB FKA-ETC BERKELEY FEDERA...,"ALICE J TIEDJEN, ET AL.",...,NaN,NaN,WITHD,NaN,NaN,1,41.464855,-81.720345,0,False
CV97345013,016-09-077,3288 WEST 54TH ST,2007-09-10,113,NaN,"$38,000","$25,334",Withdrawn - Order of,EQUIVANTAGE INC,"CHARLES ADAMS, ET AL",...,NaN,NaN,WITHD,NaN,NaN,1,41.464424,-81.723794,0,False
CV98354337,139-14-042,3870 EAST 151ST ST,2007-07-09,8,"$53,334",NaN,NaN,NaN,COUNTRYWIDE HOME LOANS INC FKA COUNTRYWIDE FUN...,"BERTHA YARBROUGH AKA BERTHA GLOVE-ET AL, ET AL",...,NaN,NaN,NaN,NaN,Yes,1,41.454039,-81.575883,444,True
CV98354477,014-07-025,4229 CLYBOURNE AVENUE,2007-11-26,112,NaN,"$60,000","$40,000",Withdrawn - Order of,OCWEN FEDERAL BANK FSB,"RAYMOND H METTS, et al.",...,NaN,NaN,WITHD,NaN,NaN,1,41.440466,-81.714571,0,False
CV98360458,143-13-047,16802 LIPTON AVENUE,2007-07-23,72,"$30,000",NaN,NaN,NaN,THIRD FEDERAL SAVINGS AND LOAN ASSOCIATION OF ...,"WALTER LEE BLACK, ET AL.",...,NaN,NaN,NaN,NaN,Yes,1,41.435285,-81.562350,391,True
CV98360731,129-24-078,3063 EAST 123RD STREET,2007-09-10,13,NaN,"$30,000","$20,000",Withdrawn - Not Sold,BANKERS TRUST COMPANY-AS TRUSTEE-ETC,KENNETH GOLSTON ET AL,...,NaN,NaN,WITHD,NaN,NaN,1,41.475369,-81.596878,0,False
CV98361485,141-21-002,18005 LOTUS DRIVE,2008-02-04,33,"$50,000","$75,000","$50,000",Withdrawn - Bankrupt,MVB MORTGAGE CORPORATION,"WILLIAM JONES, ET AL",...,NaN,NaN,WITHD,NaN,Yes,1,41.446068,-81.552677,444,True
CV98370749,141-15-057,4085 EAST 186TH STREET,2009-06-29,4,NaN,"$45,000","$30,000",Withdrawn - Bankrupt,BANK OF NEW YORK-AS TRUSTEE UNDER THE POOLING ...,"STANLEY HOWARD AKA STANLEY R HOWARD-ET AL, ET AL",...,NaN,NaN,WITHD,NaN,NaN,1,41.448609,-81.549188,0,False
CV98371457,119-01-043,2069 EAST 81ST STREET,2007-04-02,82,"$52,180",NaN,NaN,NaN,"NORWEST BANK MINNESOTA, AS TRUSTEE FOR AMRESCO...","EAST-WEST PROPERTIES INC., ET AL",...,NaN,NaN,NaN,NaN,Yes,1,41.509027,-81.632591,1,False
CV99373300,128-14-030,10210 SOPHIA AVENUE,2007-05-14,3,"$33,334",NaN,NaN,NaN,ANNIE HERROD,"U C LENDING INC, ET AL.",...,NaN,NaN,NaN,NaN,Yes,1,41.478675,-81.613821,8,True
CV99373484,115-28-060,901 STEVENSON ROAD,2008-04-21,39,NaN,"$45,000","$30,000",Withdrawn - Order of,HOMESIDE LENDING INC,"KEITH C BREMER, ET AL",...,NaN,NaN,WITHD,NaN,NaN,1,41.555727,-81.570483,0,False
CV99380061,117-22-053,17702 ROOKWOOD CIRCLE,2007-07-09,93,NaN,NaN,NaN,Withdrawn - Order of,NATIONAL CITY BANK,"DAVID HARPER,ET AL",...,NaN,NaN,WITHD,NaN,NaN,1,41.549053,-81.552323,0,False
CV99383983,120-03-033,1378 EAST 114TH STREET,2009-02-02,33,NaN,"$22,000","$14,667",Withdrawn - Order of,OCWEN FEDERAL BANK FSB,"ARTHUR JOHNSON, ET AL",...,NaN,NaN,WITHD,NaN,NaN,1,41.520413,-81.606239,0,False
CV99386629,005-24-102,3111 WEST 96TH STREET,2007-06-11,160,"$26,667",NaN,NaN,NaN,FLEET MORTGAGE CORP,"CESAR ROMAN, ET AL",...,NaN,NaN,NaN,NaN,Yes,1,41.469020,-81.748904,1,True
CV99387728,111-06-122,436-438 EAST 120TH STREET,2008-05-19,58,"$26,667","$20,000","$13,334",Withdrawn - Bankrupt,NORWEST BANK MINNESOTA-AS TRUSTEE ETC AMRESCO ...,"M LA MARSEILLE DEMARCOS AKA ETC ,ET AL A LA DE...",...,NaN,NaN,WITHD,NaN,Yes,1,41.545196,-81.602400,0,False
CV99390425,130-17-105,3353 EAST 147TH STREET,2007-04-16,131,"$43,334",NaN,NaN,NaN,OCWEN FEDERAL BANK F.S.B.,"MARLENE C JENKINS, ET AL.",...,NaN,NaN,NaN,NaN,Yes,1,41.468269,-81.578369,1,True
CV99397370,139-19-035,3724 EAST 153RD STREET,2007-08-27,38,"$30,000","$45,000","$30,000",NaN,HUNTINGTON MORTGAGE COMPANY,"ROSIE MAE FAISON, ET AL",...,NaN,NaN,NaN,NaN,Yes,1,41.458127,-81.574698,115,True
CV99398582,135-10-089,3555 EAST 108TH ST,2007-06-04,101,NaN,NaN,NaN,Withdrawn - Order of,NORWEST BANK MINNESOTA NA AS TRUSTEE-ETC DELTA...,"EMMETT OSCAR LYNCH, ET AL",...,NaN,NaN,WITHD,NaN,NaN,1,41.462058,-81.609334,0,False
CVH 24907,107-12-173,1346 ANSEL RD,2013-12-16,800,"$5,000","$3,500","$2,334",NaN,CLEVELAND HOUSING RENEWAL PROJECT//,THOMAS/LISA/,...,CLEVELAND EAST OF THE R,NaN,NaN,SOLD,Yes,1,41.519766,-81.621056,1,False

In [ ]:
spas_sa = tci[tci.parcel.isin(test)][['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])
spas_sa['percent'] = spas_sa.vacant['sum']*1.0/spas_sa.vacant['len']
print(spas_sa.sort_values('percent'))

In [ ]:
for i in spas_sa.index:
    a = sa[sa.parcel.isin(test.intersection(tci[tci.SPA_NAME==i].parcel))]
    spas_sa.loc[spas_sa.index==i,'median_sa'] = a.sort_values('date')['date'].iloc[round(len(a)/2)]
#     print(i,a.sort_values('date')['date'].iloc[round(len(a)/2)])
#     print(np.median(sa[sa.parcel.isin(test.intersection(tci[tci.SPA_NAME==i].parcel))].date))

In [ ]:
spas_sa

In [ ]:
tci[tci.parcel.isin(set(fc.parcel))][['SPA_NAME','vacant']].groupby('SPA_NAME').agg([sum,len])

In [ ]:
len(tci.loc[tci.vacant==1,'parcel'][tci.loc[tci.vacant==1,'parcel'].isin(set(sa.parcel))])

In [ ]:
sum(tci['vacant']), len(tci)

In [ ]:
sum(tci[tci.parcel.isin(sub)].vacant), len(tci[tci.parcel.isin(sub)].vacant)

In [ ]:
last = df.groupby('parcel').last()
sub = set(last[last['type'] == 'sa'].index)

In [ ]:
second_last = df.groupby('parcel').nth(-2)
sub2 = set(second_last[second_last['type']=='fc'].index)

In [ ]:
len(sub.intersection(sub2)), len(sub), len(sub2)

In [ ]:
fc_to_sa = sub.intersection(sub2)

In [ ]:
sum(tci[tci.parcel.isin(fc_to_sa)].vacant), len(tci[tci.parcel.isin(fc_to_sa)].vacant)

In [ ]:
df[df.parcel=='137-25-057']

In [ ]:
a = second_last[second_last.index.isin(sub)]

In [ ]:
pitt_vacant = set(second_last[second_last.index.isin(sub)].index)

In [ ]:
sum(tci[tci.parcel.isin(set(a.index))].vacant), len(tci[tci.parcel.isin(set(a.index))].vacant)

In [ ]:
sum(tci[(tci.parcel.isin(pitt_vacant))&(tci.parcel.isin(pitt))].vacant), len(tci[tci.parcel.isin(pitt_vacant)].vacant)

In [ ]:
sum(tci.vacant)

In [ ]:
1334.0/ 3892

In [ ]:
temp = df[df.parcel.isin(pitt_vacant)].groupby('parcel').agg(lambda x: (x.date.iloc[-1]-x.date.iloc[-2]).days)

In [ ]:
np.median(temp.date)

In [ ]:
sns.distplot(temp.date);

In [ ]:
pv = pd.read_csv(path+'/data/clean_data/postal_vacancy.csv', parse_dates=3, index_col=0)
pv.date = pv.date.apply(lambda x: dt.datetime(int(x[0:4]),int(x[5:7]),int(x[8:10])))
pv = pv.sort_values('date',ascending=False)
pv = pv.loc[pv.apply(lambda x: x.date < dates[x.PARCEL], axis=1)]

In [ ]:
pv = pv[pv.vindall=='Y']
pv_copy = pv.copy().groupby('PARCEL').count().reset_index()

pv_copy['pv_count'] = pv_copy.apply(lambda x: \
        len(pv[(pv.PARCEL == x.PARCEL) & (pv.date > dates[x.PARCEL]-pd.DateOffset(years=2))]), axis=1)

In [ ]:
pv2 = pv.groupby('PARCEL').last()

In [ ]:
tci[tci.parcel.isin(pv2[pv2.vindall=='Y'].index)].groupby('vacant').count()

In [ ]:
sns.distplot(df2[df2.vacant==1].date,bins=np.linspace(0,30,30));
sns.distplot(df2[df2.vacant==0].date,bins=np.linspace(0,30,30));

In [ ]:
df2 = pd.merge(df.groupby('parcel').last(), tci[['vacant','ppn']], how='left',left_index=True, right_on='ppn')

In [ ]:
df2[['type','vacant']].groupby('type').agg([sum,len])

In [ ]:
d = df2[df2['type']=='fc']
d['year'] = d.date.apply(lambda x: x.year)

In [ ]:
d[['year','vacant']].groupby('year').agg([sum,len])

In [ ]:
plt.plot(fc.set_index('date').groupby(['type']).resample('m', 'count'))

In [ ]:
t = tci[tci.ppn.isin(fc[fc.date > dt.datetime(2015,3,1)].parcel)].vacant

In [ ]:
sum(t),len(t)

In [ ]:
fc['year'] = fc['date']